:root {
    /* --- Colori Primari (L'armatura di Ferro/Acciaio Brunito) --- */
    --iw-iron:            #383838; /* Grigio canna di fucile scuro (Colore base armatura) */
    --iw-iron-darker:     #212121; /* Quasi nero, per ombre profonde e dettagli industriali */
    --iw-iron-light:      #5E5E5E; /* Grigio medio, per i bordi leggermente meno consumati */

    /* --- Colori Secondari (Dettagli in Ottone/Oro logoro) --- */
    --iw-brass:           #A17F2C; /* Ottone antico, sporco e privo di lucentezza (Finiture, insegne) */
    --iw-brass-patina:    #4D442E; /* Un marrone verdastro, per i recessi dell'ottone (ossidazione) */

    /* --- Colori di Accento (Le mitiche Hazard Stripes) --- */
    --iw-hazard-yellow:   #F3D300; /* Un giallo industriale, saturo ma logoro */
    --iw-hazard-black:    #0A0A0A; /* Nero puro, per il massimo contrasto delle strisce */

    /* --- Colori Atmosferici (Ruggine, Olio, Usura Grimdark) --- */
    --iw-rust:            #7B3F00; /* Un marrone rossastro profondo, per i dettagli arrugginiti */
    --iw-oil:             #141414; /* Un nero lucido e oleoso, per i giunti e i motori */
    --iw-void-black:      #121212;


    /* --- Assegnazione Semantica --- */
    --bg-primary:         var(--iw-iron); /* Sfondo principale */
    --bg-secondary:       var(--iw-iron-darker); /* Sfondo secondario, footer */
    --bg-dark:            var(--iw-iron-darker);

    --text-primary:       #E0E0E0; /* Testo chiaro su fondo scuro */
    --text-secondary:     #BDBDBD; /* Testo di supporto */
    --text-inverted:      var(--iw-hazard-black); /* Testo nero su fondo giallo */
    --text-gold:          var(--iw-brass);

    --border-color:       var(--iw-iron-light); /* Bordi sottili tra elementi di ferro */

    /* Colori di Accento principali per Call to Action */
    --brand-color:        var(--iw-hazard-yellow);
    --brand-color-dark:   var(--iw-hazard-black);
    --accent-color:       var(--iw-brass);
}

/* sfondo titolo della pagina */
body {

    background-color: #000000;
    color: #000000;
    font-family: sans-serif;

}


.ll {
    padding-top: 20px;
}

/* nome album */
.text-neon {

    color: #efefef;
    text-shadow: var(--text-inverted);
    font-family: "Saira Condensed", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 3px;
    line-height: 1.1;
    
    width: 260px;
    margin: 10px auto 0;

    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

}

/* nomi band/ titoli*/
.text-neon-w {

    color: #efefef;
    text-shadow: var(--text-inverted);
    font-family: "Barlow Condensed", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.5;
    text-align: center;

}

/* prezzo album */
.pricetag {

    color: #efefef;
    text-shadow: var(--text-inverted);
    font-family: "Saira Condensed", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 2.7;
    text-align: center;
}

/* colori parole nella navbar (link)*/
.nav-link{

    color: #000000 !important;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    margin-left: 19px;
    align-self: center;

    /* per correggere il dropdown menu visivamente */
    margin-top: 12px;
    margin-bottom: 12px;
}

/* colore icona sito*/
.navbar-brand{

    color: #000000 !important;
}

.navbar {

    color: var(--text-gold) !important;
    background-color: #FFFFFF !important;

    /* messo a 0 perchè non c'è nel sito finale */
    border-bottom: 0px solid /*var(--iw-hazard-yellow)*/ !important;

    /* per menù a tendina */
    position: relative;
    z-index: 1002;
}

/* elementi del dropdown menu */
.nav-item {

    height: 100%;
    color: #bf701c;
}

/* Elemento che contiene ALBUMS */
/*.album-menu {
    position: static;
}*/

/* posizione relativa per i dropdown menu */
.album-menu,
.bands-menu {
    position: static;
    z-index: 1003;
}

/* Rettangolo */
.album-panel {
    display: none !important;

    position: absolute;
    top: calc(100%-1px);
    left: 0;

    width: 100%;
    min-height: 250px;

    padding: 30px 50px;

    background-color: #efefef;

    z-index: 1002;
}

/* Mostra il rettangolo quando passi su ALBUMS */
.album-menu:hover .album-panel {
    display: block !important;
}

/* Oscura la pagina sottostante */
.album-menu:hover::after {
    content: "";

    position: fixed;
    top: 80px;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.55);

    z-index: 999;

    pointer-events: none;
}

/* Elemento che contiene BANDS */
/*.bands-menu {
    position: static;
}*/

/* Rettangolo */
.bands-panel {
    display: none !important;

    position: absolute;
    top: calc(100%-1px);
    left: 0;

    width: 100%;
    min-height: 250px;

    padding: 30px 50px;

    background-color: #efefef;

    z-index: 1002;
}

/* Mostra il rettangolo quando passi su ALBUMS */
.bands-menu:hover .bands-panel {
    display: block !important;
}

/* Oscura la pagina sottostante */
.bands-menu:hover::after {
    content: "";

    position: fixed;
    top: 80px;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.55);

    z-index: 999;

    pointer-events: none;
}


/* gestione allineamento card nella pagina album */
.album-container {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 0px;
    border-radius: 0px;

    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.m-r {
    
    margin-right: 20px;

}

.btn-neon {

    background-color: #3b4d3e;
    color: #ffffff;
    border: 2px solid #3b4d3e;
    padding: 10px 24px;
    margin-left: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: #ffffff;
    transition: all 0.3s ease-in-out;

}

/* bottone login passata cursore */
.btn-neon:hover {

    background-color: #ffffff;
    color: #000000;
    /*box-shadow: 0 0 15px #ffffff, 0 0 30px #ffffff;*/
    text-shadow: none;

}

/* caratteristiche div centrale sfondo*/
.card-dark {

    background-color: #313131;
    border: 1px solid #313131;
    border-radius: 0px;

}

.card {

    display: inline-block !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent;
    margin: 0px;

    /*width: clamp(300px, 18vw, 400px);*/

}

/* gestione immagini singole album ovunque*/
.card-img-top {

    border-radius: 3px !important;

    width: clamp(260px, 25vw, 320px);
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.border-neon {

    border-color: var(--text-gold);

}

.album {

    padding: 20px;
    display: inline-block;
    text-align: center;

}

.figure-img {
    
    width: clamp(220px, 21vw, 260px);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 0;
}

.band-card {

    /*margin-top: 25vh;
    margin-bottom: -25vh;*/
    /*height: 100vh;*/

}

/* titolo della pagina*/
.title {

    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fdfdfd;
    letter-spacing: 3px;
    font-weight: 800;
    margin: 0;

    display: inline-block;
    justify-content: center;  /* centro orizzontale */
    align-items: center;      /* centro verticale */

    height: 60px;            /* altezza della fascia */

}


.filters_div {

    display: grid;
    /*justify-content: center;
    align-items: center;
    text-align: center;*/
    grid-template-columns: auto 50px 60px 8px;

}

.filters {

    text-align: center;
    display: inline-block;
    font-family: "Barlow Condensed", sans-serif;

}

.filter {

    text-align: center !important;
    border: 1px solid #ffffff !important;
    font-family: "Barlow Condensed", sans-serif;
    background-color: #000000;
}


.filter-btn {

    color: #000000;
    background-color: #ffffff;
    font-size: 1rem;

}

.filter-btn:hover {

    background-color: #ffffff;
    color: #000000;

}

.filter-btn:active {

    background-color: #000000;

}

.filt {

    font-family: "Barlow Condensed", sans-serif;
    color: #ffffff;

}

.filt:hover {

    color: #ffffff;

}

/* gestione margine del titolo della pagina */
.title h1 {
    margin: 0;
}


.cart-card-body {

    text-align: left !important;
    border: 0px;
    border-top: 1px solid #000000;
    /*border-bottom: 1px solid #000000;*/
    margin-bottom: 0px;

}

.cart {

    justify-content: center !important;
    display: grid;
    background-color: #313131;
    border: 1px solid #313131;
    border-radius: 0px;

}

.cart-body {

    margin-top: 50px;
    justify-content: center;
    width: 1024px;
    height: max-content;
    margin-bottom: 50px;
    /*height: 100vh;*/

}


.thankyou {

    justify-content: center !important;
    display: grid;
    background-color: #313131;
    border: 1px solid #313131;
    border-radius: 0px;

}

.thankyou-body {

    margin-top: 50px;
    justify-content: center;
    width: 1024px;
    text-align: center;
    height: max-content;
    margin-bottom: 50px;
    /*height: 100vh;*/

}


.cart-card-img {

    /*margin: 20px;*/
    padding: 20px;
}


.cart-p {

    display: inline-block;
    border: 0px solid;
    margin: 0px;
    padding: 2px;

}


.cart-button {

    display: inline-block;

}


.buy {

    /*BUY BUTTON*/
    width: 100vh;
    display: block;

}

/* grandezza default immagini*/
/*.foto img {
    
    width: 250px;
    height: 250px;
    object-fit: cover;

}*/

/* immagini tonde band*/
.foto_band {
    
    border-radius: 135px;

}

/* gestione menù sandwitch */
.navbar-toggler {

    /*color: #000000 !important;*/
    background-color: #FFFFFF !important;

}

/* gestione icona sandwitch */
.navbar-toggler-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: #FFFFFF !important;
    border-color: #000000 !important;

}

.search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(250px, 35vw, 500px);
    margin: 0 20px;

    color: #000000;
    background-color: transparent;

}

.search-box {

    width: 65%;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0px;

    outline: none !important;
    box-shadow: none !important;
}

/* regola per evitare l'evidenziatura della barra */
.search-box:focus {

    border: none !important;
    border-bottom: 2px solid #000000 !important;

    outline: none !important;
    box-shadow: none !important;

    background-color: transparent !important;

}

/* lente della searchbar (seguenti 3 funzioni) */
.search-btn {
    background: transparent;
    border: none;
    padding: 0 5px;
    cursor: pointer;
    border-bottom: 2px solid #000000;
}

.search-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: block;
    transition: transform 0.2s ease;
}

.search-btn:hover img {
    transform: scale(1.15);
}

.mega-menu {

    position: fixed;

    top: 76px;
    left: 0;

    width: 100%;

    background-color: #ffffff;

    z-index: 1040;

    padding: 30px 50px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

    display: none;

}

/* form login modifiche grafiche */
.form-label {

    width: 20px;
    padding: 8px;

    background-color: none;
    border: 0px solid var(--iw-iron-light);

    color: #ffffff;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 22px;
    margin-top: 0px;
}

.form-control-login {

    display: block;
    height: 33px;
    width: 40vw;
    border: 0px;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 0px;
    padding-left: 10px;
    
}

.form-control::placeholder {

    color: #5E5E5E;
    opacity: 1;
}

/* colore background form di login */
.login-background {

    background-color: #000;
    border: 0px;
    border-radius: 0px;
    margin-top: 0px;
    /*display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;*/

}

/* colore del footer */
.login-bottom {

    background-color: #5E5E5E;
    min-height: 400px;

}

/* gestione della card contenente il form del login */
.card-login {

    margin-top: 20px !important;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: grid;
}

/* product page colonna immagine */
.album-image {

    display: flex;
    justify-content: center;
    align-items: right;
    border: none;
    min-height: 400px;
}

/* immagine product page */
.img-fluid {

    width: 350px;
    height: 350px;
}

.band-name-product {

    color: #000000 !important;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    margin-left: 0px;
    align-self: left;
    font-size: 17px;
    text-transform: uppercase;
}

.album-name-product {

    color: #000000;
    text-shadow: var(--text-inverted);
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-size: 30px;
    
}

.pricetag-product{

    color: #000000;
    text-shadow: var(--text-inverted);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 50;
    font-size: 28px;
    padding-top: 700px;
    align-items: right;
}

.pricetag-tax{

    color: #000000;
    text-shadow: var(--text-inverted);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-size: 17px;
}

.description-album-product{

    text-align: left;
    color: #000000;
    text-shadow: var(--text-inverted);
    font-family: "Saira Condensed", sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding-right: 50px;
}

.bg-album-product{

    background-color: #f4f4f4;
}

.number-item{

    width: 80px;
    height: 40px;

    text-align: center;
    padding: 5px;

    border: 2px solid #000000;
    border-radius: 5px;
}

.add-to-cart-button-product{

    width: 400px;
    height: 40px;
    align-items: center;
}

@media (max-width: 991.98px) {

    /* dimensione font titoli album in album*/
    .text-neon {
        
        margin: 5px auto 0;
    }

    .btn-neon {

        padding: 8px 16px;
        font-size: 0.9rem;

    }

    /* per larghezza mobile la barra sta al centro e prende tutto lo spazio*/
    .search-form {

        position: static;
        transform: none;
        width: 40%;
        margin: 15px 0;

    }

        .album-panel {
        display: none !important;
    }

    .album-menu:hover > .album-panel {
        display: none !important;
    }

    .album-menu:hover::after {
        display: none !important;
        content: none !important;
    }

    .bands-menu:hover > .bands-panel {
        display: none !important;
    }

    .bands-menu:hover::after {
        display: none !important;
        content: none !important;
    }

}

@media (max-width: 740px) {

    .add-to-cart-button-product{

        width: 300px;
        height: 40px;
        align-items: center;
    
    }
}
